<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Change Password</title>
		
		<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<script src="/static/js/modernizr.custom.js"></script>
		
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		
		<!-- 
		<script src="/static/css/jquery-1.9.1.js"></script>
		<script src="/static/css/jquery-ui.js"></script>
		 -->
		
		<style type="text/css">
			.ButtonLink {
			    font-family: Arial, Helvetica, sans-serif;
			    font-size: 12px;
			    color: #FFF;
			    background-color: #333;
			    height: 28px;
			    margin-left: 5px;
			    margin-right: 5px;
			    border-radius: 6px;
			    padding: 5px;
			    cursor: pointer;
			    border: 0px;
			    width: 80px
			}
			
				.ButtonLink:hover {
	        color: #000;
	        background-color: #e5e5e5;
	        cursor: pointer;
	    }

		.onClick {
		    text-align: center;
		    margin: 10px;
		}
			
		</style>
	</head>
	<body>
	<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/grid.js"></script>
		
		<div class="container">
				<header class="gem-mainHeader">
					<div class="gem-top-bar">
						<div class="gem-site-logo">
							<a href="#"> <img src="/static/images/eShoplogo.png" /></a>
						</div>
						</div>
					 <div class="gem-admin-bar">
					 <strong style="float: right;">Welcome &nbsp;</strong><br>
					 <strong style="float: right;"><font color='green'>{{storeref.StoreName}}</font></strong>
						<ul>
								<li class="gem-login">
									<a href="/logout" title="Logout">Logout</a>
								</li>
								<li class="gem-signup">
									<!-- <a href="#" id="btnShowSimple">Add Product</a> -->
									<a href="/addproduct">Add Product</a>
								</li>
								<li class="gem-signup">
									<a href="/viewprofile">view profile</a>
								</li>
								<li class="gem-signup">
									<a href="/editprofile">Edit profile</a>
								</li>
								<li class="gem-signup">
									<a href="/customerhome">Home</a>
								</li>
						</ul>
					</div> 
					<br>
		</header>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	
	<div class="mainContent" >	

{% if message %}
<div align="center">
	<strong>{{message}}</strong>
	<p>&nbsp;</p>
</div>
{% endif %}



{% if customerchangepassword %}

		 <script type="text/javascript">
		function validatepwd(){
			
			//var oldpassword=document.getElementById('oldpwd')
			var newpassword=document.getElementById('newpwd')
			var confirmpassword=document.getElementById('conpwd')
			
		
			 if((/^\s/.test(newpassword.value[0])) || newpassword.value.length < 6 || newpassword.value.length >32 ){
				 alert("Password should not be less than 6 digits and greater than 32 digits");
				 return false;
			 }
			 
			 
			 if((/^\s/.test(confirmpassword.value[0])) || confirmpassword.value.length < 6 || confirmpassword.value.length > 32){
				 alert("confirm password should not be less than 6 digits and greater than 32 digits");
				 return false;
			 }
			 
			 if(newpassword.value != confirmpassword.value){
				 alert("password & confirm password values does not matched.");
				 return false;
			 }
			 return true;
		}
		</script>
		<div id="passwordchange" align="center">
		<h3>Change Password</h3>
			<form method="post" id="changepassword">
				<table style="padding: 14px;">
						<tbody > 
							<tr >
								<td> <strong>Old Password</strong>  </td>
								<td><input type="password" name="oldpwd" id="oldpwd" class="inputtext" required="required"/></td>
							</tr>
							<tr>
								<td><strong>New Password</strong> </td>
								<td><input type="password" name="newpwd" id="newpwd" class="inputtext" required="required"/></td>
							</tr>
							<tr>
								<td><strong>Confirm Password</strong></td>
								<td> <input type="password" name="conpwd" id="conpwd" class="inputtext" required="required"/></td>
								
							</tr>
							
							<tr>
							<td>
							&nbsp;
							</td>
							</tr>
							
							<tr>
								<td></td>
								<td><input class="ButtonLink" type="submit" value="Change" />
									<a href="/customerhome" class="ButtonLink">Cancel</a>
								</td>
							</tr>
			
						</tbody>
				</table>
			</form>	
		</div>
	
	<script type="text/javascript">
$("#changepassword").submit(function(){
		if(validatepwd()){
		    var formData = new FormData($(this)[0]);
		    $.ajax({
		        url: '/changepassword',
		        type: 'POST',
		        data: formData,
		        async: false,
		        success: function (data) {
		        	if(data=="Password Changed successfully"){
		        		alert(data);
		        		window.location.href = '/customerhome';
		        	}
		        	else if (data=="Session Expired"){
		        		alert(data);
		        		window.location.href = '/';
		        	}
		        	else{
		        		alert(data);
		        	}
		    		
		        },
		        cache: false,
		        contentType: false,
		        processData: false
		    });
		}
		
	    return false;
	});

	</script> 
		
{% endif %}
	</div>	
</div>

</body>	
</html>
