
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>eShop.com</title>
</head>
<body>

Hi &nbsp; {{emailid}},
<br>
<br>
Thank you for registering with <a href="www.eShop.com">www.eShop.com</a>!
<br> 
To complete your registration process, please verify your email address by clicking on the link below
<br>
<a href="{{SERVER}}/verification/{{authid}}/{{link}}">Click Here to verify</a>
<br>
Please note that if you do not validate your account within 3 days of registering, your account will be deactivated. 
Please feel free to contact us at help@eShop.com or visit <a href="www.eShop.com">www.eShop.com</a> for any queries or concerns. 
<br>
<br>
Sincerely,<br>
The eShop team.<br>
<a href="www.eShop.com">wwweShop.com</a>

</body>
</html>